* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100%;
  display: table;
  background-color: #ececec;
}
#header {
  height: 48px;
  margin: auto;
  width: 100%;
  list-style: none;
  background: #fff;
  border-bottom: solid whitesmoke thick;
  text-align: center;
}
li {
  transition: 0.2s;
  display: inline-block;
  margin-top: 8px;
  margin-inline: 30px;
}
.h-link {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
}
li:hover {
  transform: scale(1.2);
}
.h-link:hover {
  transition: 0.2s;
  color: #16a085;
}

.container {
  height: 100vh;
  width: 100%;
  margin: auto;
  background: url(../resources/leaves.jpg);
  background-position: center;
  background-repeat: repeat;
}

#right {
  scroll-margin-left: inherit;
  background: url("../resources/peanut.png");
  background-position: 23%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -100%;
  height: 100vh;
  width: 40%;
  border: none;
  border-right: solid transparent;
  border-radius: 8px;
  animation: pogEnter 4s ease-in-out forwards;
}

@keyframes pogEnter {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

#left h1 {
  padding: 50px;
  color: #16a085;
  font-family: teko;
}
#f {
  font-size: 125px;
  position: absolute;
  left: -100%;
  top: 10%;
  animation: fEnter 0.5s ease-in-out forwards;
}
#for {
  font-size: 150px;
  position: absolute;
  left: -100%;
  top: 30%;
  animation: forEnter 0.3s ease-in-out forwards 0.5s;
}
#peanut {
  font-size: 200px;
  position: absolute;
  left: -100%;
  top: 50%;
  animation: peanutEnter 1s ease-in-out forwards 0.8s;
}

@keyframes fEnter {
  0% {
    left: -100%;
  }
  100% {
    left: 30px;
  }
}
@keyframes forEnter {
  0% {
    left: -100%;
  }
  100% {
    left: 30px;
  }
}
@keyframes peanutEnter {
  0% {
    left: -100%;
  }
  100% {
    left: 30px;
  }
}

@media screen and (max-width: 768px) {
  #header {
    height: 40px;
  }
}
@media screen and (max-width: 768px) {
  li {
    margin-top: 6px;
    margin-inline: 14px;
  }
}
@media screen and (max-width: 768px) {
  .h-link {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  #right {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 768px) {
  #left h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  @keyframes fEnter {
    0% {
      left: -100%;
    }
    100% {
      left: 110px;
    }
  }
}
@media screen and (max-width: 768px) {
  @keyframes forEnter {
    0% {
      left: -100%;
    }
    100% {
      left: 65px;
    }
  }
}
@media screen and (max-width: 768px) {
  @keyframes peanutEnter {
    0% {
      left: -100%;
    }
    100% {
      left: -10px;
    }
  }
}